@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --amber-light: #FEF3C7;
  --amber-medium: #F59E0B;
  --amber-dark: #B45309;
  --cyan: #7DD3FC;    /* Sky blue shade */
  --magenta: #F9A8D4; /* Pastel magenta */
  --background: #ffffff;
  --foreground: #92400E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #4B5563;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




